@import-normalize;
$font-hei:-apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
$font-kai:Baskerville, Georgia, "Liberation Serif", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, DFKai-SB, "TW\-Kai", serif;
$font-song:Baskerville, "Times New Roman", "Liberation Serif", STFangsong, FangSong, FangSong_GB2312, "CWTEX\-F", serif;
$blue:#f0f8ff;
$red:#ed8194;
$yellow:#f7d26a;
*{
  margin: 0;
  padding: 0;
}
*{
  box-sizing:border-box;
}
*::before{
  box-sizing:border-box;
}
*::after{
  box-sizing:border-box;
}
ul,ol{
  list-style: none;
}

a{
  text-decoration: none;
}

body{
  font-family: $font-song;
  font-size: 16px;
  line-height: 1.2;
}